svg.dark-theme {
    background-color: #333;
    font: 11px sans-serif;
}

.dark-theme .axis text {
    fill: #ddd;
    font-weight: 100;
}

text.plot-title {
    letter-spacing: 1px;
}

.dark-theme text.plot-title {
    fill: #eee;
}

.default-theme .axis path,
.default-theme .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dark-theme .axis path,
.dark-theme .axis line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.tick line {
    opacity: 0.2;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    background-color: rgba(250,250,255, 0.8);
    padding: 10px;
    border: #eef 2px solid;
}

.dark-theme.tooltip {
    position: absolute;
    pointer-events: none;
    background-color: rgba(20,20,20, 0.8);
    padding: 10px;
    border: #ddd 2px solid;
    color: #fff;
    font-weight: 100;
    letter-spacing: 1;
}

svg.gvplot-barplot .bar {
    fill: steelblue;
}

.default-theme rect.space-selector {
    fill: transparent;
    shape-rendering: crispEdges;
    stroke: #;
    opacity: 0.2;
    stroke-width: 1px;
}

.dark-theme rect.space-selector {
    fill: transparent;
    shape-rendering: crispEdges;
    stroke: #000;
    opacity: 0.2;
    stroke-width: 1px;
}

.dark-theme rect.vertical-bar {
    fill: #fff
}

.default-theme rect.vertical-bar {
    fill: #fff
}

/* barplot styles */
svg.gvplot-barplot {
    font: 11px sans-serif;
    color: #999;
}
